# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot
.spring-boot-devtools.properties

# Local environment
.env
